*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.window{
  width: 400px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
}
.images{
  display: flex;
  transition: all 0.3s;
}
.images > img{
  width: 100%;
}
.btn{
  text-align: center;
}
.btn > svg{
  fill: #ABABAB;
  transition: all 0.3s;
}
.btn > svg.active{
  fill: #626262;
  transform: scale(1.2);
}
.container{
  text-align: center;
}